<%- include('../components/header.ejs'); %>
    
    <h1 class="h1-carrito">Mi Carrito</h1>

    <div class="container " style="padding-top: 30px;">
        <div class="row listar-product" >
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio U</th>
                    <th scope="col">Precio T</th>
                    <th scope="col">Eliminar</th>

                  </tr>
                </thead>
                <tbody id="listar">

                </tbody>
              </table>
        </div>

        <div class="input-group input-right" >
          <button class="btn btn-outline-secondary" id="button-sentence">Total</button>
          <input type="text" class="form-control text-success" id="valorTotalProduct">
        </div>

        <button type="button" class="btn btn-danger boton_CleanCarrito" onclick="eliminarLocalStorage()"><span>Limpiar Carrito</span></button>

    </div>

<%- include('../components/footer.ejs'); %>