<%- include('../components/header.ejs'); %>

<div class="container" style="padding-top: 30px;">
    <div class="row listar-product" id="listar">

    </div>
</div>

<%- include('../components/footer.ejs'); %>

<script type="module" src="../public/js/main2.js"></script>
